<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ToolsSL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ToolsSl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>

    <ToolsSL.Properties.Settings>
      <setting name="ColorTheme" serializeAs="String">
        <value>224, 224, 224</value>
      </setting>
    </ToolsSL.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="data Source=C222-R2C3; Initial catalog=ToolsSL; Integrated security=true"   providerName="system.Data.sqlclient"/>
  </connectionStrings>
</configuration>